# 1. Basics of Python

---

## Fundamentals

---

In [8]:
# You can put comments by putting "#" first

In [2]:
"""
Longer comments can be written
in blocks like these
"""

'\nLonger comments can be written\nin blocks like these\n'

You can print by,

In [3]:
print("Hello, World!")

Hello, World!

Indentation is important!</br>  
This works -

In [6]:
if 5 > 2:
    print("Five is greater than two!")

Five is greater than two!

This does not-

In [4]:
if 5 > 2:
print("Five is greater than two!")

IndentationError: expected an indented block (<ipython-input-4-a314491c53bb>, line 2)

Indentation has to be at least one space. But it has to be consistent (As a convention, 4 spaces are used).

In [5]:
if 5 > 2:
 print("Five is greater than two!")
        print("Five is greater than two!")

IndentationError: unexpected indent (<ipython-input-5-5774f69266e6>, line 3)

In [6]:
if 5 > 2:
    print("Five is greater than two!")
    print("Five is greater than two!")

Five is greater than two!
Five is greater than two!

--- 

## Variables

---

Python has five standard data types- </br>

* Number - integer, float, long, complex, boolean
* string
* list
* tuple
* dictionary

Variables can have any names, except for reserved python names such as `class, def, lambda, int` etc

### Assigning variables

Python directly guesses the data type of the variable.

In [7]:
# python is case sensitive 
a = 1
A = 2
print(a, A)

1 2

In [14]:
b, B = 2, 3
print(b, B)

2 3

The data type of a variable can be accessed using

In [8]:
type(a)

int

you can also assign a value to multiple variables

In [12]:
x = y = z = 3.8
print(x, y,z)

3.8 3.8 3.8

You can reassign values to the same variable and change its data type

In [20]:
x = 24.59
print(type(x))
x = 2
print(type(x))

<class 'float'>
<class 'int'>

Variables can be explicitly converted between types

In [8]:
x = 24.59
print(x, type(x))
x = int(x)
print(x, type(x))

24.59 <class 'float'>
24 <class 'int'>

Note that when converted to `int`, the decimal points were ignored. You can round a number to avoid this

In [23]:
x = 24.59
x = round(x,1)
print(x)

24.6

`bool` takes two values - `True` or `False`

In [9]:
x = True
print(type(x))

<class 'bool'>

---

## Task

Exchange the value of two variables

```
x = 5
y = 2
```

Exchange the values such that,

```
x = 2
y = 5
```

In [10]:
x = 5
y = 2

---

## Task

Exchange the value of two variables

```
x = 5
y = 2
```

Exchange the values such that,

```
x = 2
y = 5
```

### Strings

In [25]:
name = "Ada Lovelace"
print(type(name))

<class 'str'>

You can also use `isinstance` to check if a variable belongs to a certain data type

In [87]:
print(isinstance(name, str))

True

In [21]:
print(isinstance(1, bool))

False

---

## Operations

---

### Arithmetic operators - `+`, `-`, `*`, `/`, `%`, `**`, `//`

In [49]:
x = 5
y = 2
print(x+y)

7

In [50]:
print(x-y)

3

In [51]:
print(x*y)

10

What would be the value of the following statement?

In [52]:
print(x/y)

2.5

In [53]:
print(x//y)

2

In [54]:
print(x%y)

1

In [55]:
print(x**y)

25

### Comparison operators - `==`, `!=`, `>`, `<`, `>=`, `<=`

In [56]:
print(x == y)

False

In [57]:
print(x != y)

True

In [58]:
print(x > y)

True

In [59]:
print(x < y)

False

### Logical and identity operators - `in`, `not in`, `is`, `is not`, `and`, `or`, `not`

In [60]:
name = "Maria"
print("r" in name)

True

In [61]:
print("r" not in name)

False

In [62]:
print(name is "Maria")

True

What is the difference between `==` and `is`?

In [64]:
print((1 < 2) and (5 < 6))

True

Both conditions have to be satisfied!

In [73]:
print((1 < 2) and (7 < 6))

False

In [74]:
print((1 < 2) or (7 < 6))

True

`or` needs only one of the conditions to be satisfied. You can string them together for complex logical statements

In [106]:
print((1<2) and (5<6) or (7<6))

True

But remember, in Python **explicit is better than implicit**

--- 

## List vs Tuple

---

`list` is enclosed in `[]` whereas a `tuple` is enclosed in `()`. Both can contain heterogeneous data types, but `tuple` is read-only or immutable.

In [107]:
list_names = ['Maria', 'Antonio', 'Gregorio']

New items can be added to the list using `append`

In [108]:
list_names.append('Juan')
print(list_names)

['Maria', 'Antonio', 'Gregorio', 'Juan']

You can also add items of a different data type

In [109]:
list_names.append(23)
print(list_names)

['Maria', 'Antonio', 'Gregorio', 'Juan', 23]

Individual elements can be accessed by their index, which starts at 0

In [110]:
print(list_names[0])
print(list_names[-1])

Maria
23

-1 can be used to access the last element!

You can also slice a list. For example - to get from 2nd value

In [111]:
print(list_names[2:])

['Gregorio', 'Juan', 23]

Get upto third value

In [37]:
print(list_names[:3])

['Maria', 'Antonio', 'Gregorio']

Note that if you do `[:3]`, indices `0, 1, 2` are selected. `3` is not.

get from 1 to 3

In [38]:
print(list_names[1:3])

['Antonio', 'Gregorio']

reverse a list

In [116]:
print(list_names[::-1])

[23, 'Juan', 'Gregorio', 'Antonio', 'Maria']

You can also change individual values of a list. Lets replace `Antonio` with `Miriam`

In [117]:
list_names[1] = 'Miriam'
print(list_names)

['Maria', 'Miriam', 'Gregorio', 'Juan', 23]

If you do not know at which position a particular name is, it can be found by

In [118]:
list_names.index('Gregorio')

2

A tuple can be initialised in this way-

In [119]:
tuple_names = ('Maria', 'Antonio', 'Gregorio')

Tuple values cannot be changed! If we try to change like before-

In [120]:
tuple_names[1] = 'Miriam'

TypeError: 'tuple' object does not support item assignment

### You can convert strings to list and tuples

In [160]:
print(list("Maria"))
print(tuple("Antonio"))

['M', 'a', 'r', 'i', 'a']
('A', 'n', 't', 'o', 'n', 'i', 'o')

### Operators have different meanings for lists!

In [166]:
listone = [1,2,3]
listtwo = [4,5,6]
print(listone + listtwo)

print(list("Maria")*2)

[1, 2, 3, 4, 5, 6]
['M', 'a', 'r', 'i', 'a', 'M', 'a', 'r', 'i', 'a']

---

## Dictionary

---

A dictionary can be used for storing heterogeneous data and has a key and corresponding entry. It can be defined by

In [122]:
person = {"name": "Maria", "age": 34, "mobile": 23458991 }

Notice that the keys are always strings! To print keys of a dictionary-

In [123]:
person.keys()

dict_keys(['name', 'age', 'mobile'])

Access the value of a key

In [124]:
person["name"]

'Maria'

Print all keys and their values

In [125]:
person.items()

dict_items([('name', 'Maria'), ('age', 34), ('mobile', 23458991)])

Add a new key value pair to dictionary

In [126]:
person["address"] = "24 Main Street"

In [131]:
person.items()

dict_items([('name', 'Maria'), ('age', 34), ('mobile', 23458991), ('address', '24 Main Street')])

In [129]:
person.keys()

dict_keys(['name', 'age', 'mobile', 'address'])

In [130]:
person.values()

dict_values(['Maria', 34, 23458991, '24 Main Street'])

---

## Mutable and immutable types

---

Dictionaries and lists are mutable types - their values can be changed. However, whenever  a new copy is never created

In [132]:
a = [1,2,3,4,5]
a[2] = 2
print(a)

[1, 2, 2, 4, 5]

Now copy to another variable

In [133]:
b = a

and change `b`

In [134]:
b[0] = 3
print(b)

[3, 2, 2, 4, 5]

In [135]:
print(a)

[3, 2, 2, 4, 5]

`a` has also changed! Same goes for dictionaries. However you can use the `copy` method to create a new instance

In [136]:
c = a.copy()

In [137]:
c[0] = 1
print(c)
print(a)

[1, 2, 2, 4, 5]
[3, 2, 2, 4, 5]

In [48]:
# there is one handy function in python called range 
a = range(6)       # produces a list of numbers from 1 to 5
print a
a = range(1,10,2)  # produces a list of numbers from 1 to 9 in steps of 2
print a

[0, 1, 2, 3, 4, 5]
[1, 3, 5, 7, 9]

---

## Task

---

Start with a string `animal = "Cat"`. Replace the first letter of the string `animal` to make it `"Bat"`

In [197]:
animal = "Cat"

Bat
Cat

--

## I/O operations

---

In [177]:
name = 'Ada Lovelace'
age = 36
height = 169.1
print("My name is %s. I am %2d years old. I am %5.2f cm tall."%(name,age,height))

My name is Ada Lovelace. I am 36 years old. I am 169.10 cm tall.

In [183]:
print("My name is {0:s}. I am {1:2d} years old. I am {2:5.2f} cm tall.".format(name,age,height))

My name is Ada Lovelace. I am 36 years old. I am 169.10 cm tall.

In [188]:
print("My name is {n:s}. I am {a:2d} years old. I am {h:5.2f} cm tall.".format(n = name, a = age, h = height))

My name is Ada Lovelace. I am 36 years old. I am 169.10 cm tall.

or you can write to a file

In [189]:
with open('file.dat', 'w') as fout:
    fout.write("My name is %s. I am %2d years old. I am %5.2f cm tall.\n"%(name,age,height))
    # note the \n which directs a return

Read from the file

In [192]:
with open('file.dat', 'r') as fin:
    lines = fin.readlines()
print(lines)

['My name is Ada Lovelace. I am 36 years old. I am 169.10 cm tall.\n']

or take values directly at runtime

In [36]:
name = input("Please enter your name: \n")
print("Your name is %s."%name)

Please enter your name:
 Senja

Your name is Senja.

### Other useful things

Create a list of numbers

In [202]:
a = range(9)

Check the length of a list

In [203]:
len(a)

9

Find all things you can do with `a`

In [209]:
dir(a)

['__bool__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index',
 'start',
 'step',
 'stop']